[Unit]
Description=WSPRDAEMON Reflector (%i)
After=network.target

[Service]
Type=simple
User=wsprdaemon
Group=wsprdaemon
ExecStart=/usr/local/bin/wsprdaemon_reflector.sh /etc/wsprdaemon/%i_destinations.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
